/*---------- fonts
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*---------- common style 
--------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}

/*---------- Pricing List 
--------------------------*/
.pricing .card {
    border: 0;
    border-radius: 24px;
    transition: all 0.2s;
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }